html{
    scroll-behavior: smooth;
}

body{
    background-color: #3aafa9;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.background-color {
    background: linear-gradient(
        to right,
        #0041b9 0%,
        #0041b9 50%,
        #3aafa9 50%,
        #3aafa9 100%);
}

.container {
    padding: 1em 1em;
}

.container img {
    stroke: #0041b9;
    stroke-width: .1em;
}

h1{
    font-size: 62px;
    color: #eefbfb;
    text-align: center;
    margin-bottom: .5em;
    font-family: 'Montserrat', sans-serif;

    text-shadow: .03em .05em #0041b9;
}

h2 {
    font-size: 32px;
    color: #eefbfb;
    transition: font-size 2s ease;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;

}

h3 {
    font-size: 24px;
    color: #eefbfb;
    line-height: 1.15;
    margin: .5em;
}

.container h3 {
    display: block;
    text-align: right;
}

h4 {
    font-size: 16px;
    color: #0041b9;
    font-weight: bold;
    line-height: 1.15;
    margin: .5em;
}

p {
    color: #eefbfb;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.15;
    margin: .5em;
}

ul, li {
    line-height: 1.35;
    color: #eefbfb;
    margin-left: 1em;
}

*:focus {
    border: 2px solid;
}

a:visited {
    text-decoration: none;
}

/* Nav container */
nav{
    display: flex;
    justify-content: flex-end;
    color: #eefbfb;
    margin: .5em;
    background: transparent;
}
  
/* Links inside the navbar */
nav a {
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav li{
    display: inline;
}

nav a{
    color: #1458D8;
    text-decoration: none;
}

/* sidebar */


/* #mySidebar {
    align-items: right;
} */

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #eefbfb; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    align-items: right; /* ??? doesnt work--want sidebar on right!*/
}
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3aafa9;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #0041b9;
  }
  
  .sidebar a:current {  /* trying to indicate current page!--bad selector */
    text-decoration: underline;
  }
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
/* end sidebar  */


a:hover {
    font-weight: bold;
}

.sticky_name {
    text-align: left;
}

.selfie {
    display: block;
    margin: auto;
}


footer {
    position: static;
    bottom: 0px;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    background: transparent;
}

footer p {
    color: #eefbfb;
    font-size: 15px;
}


/* About page */

.hobbies {
    text-align: left;
}

.hobbies li {
    display: inline;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr); /* ? */
    row-gap: .1em;
    margin: 1em;
}

#pic1 {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    overflow: hidden;
}

#pic2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    overflow: hidden;
}

#pic3 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    overflow: hidden;
}

#pic4 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    overflow: hidden;
}

#pic5 {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    overflow: hidden;
}

#pic6 {
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
    overflow: hidden;
}

#pic7 { /* long pic */
    grid-column: 1 / span 2;
    grid-row: 7 / span 1;
    overflow: hidden;
}

#pic8 {
    grid-column: 3 / span 1;
    grid-row: 8 / span 1;
    overflow: hidden;
}

#pic9 {
    grid-column: 1 / -1;
    grid-row: 9 / span 1;
    overflow: hidden;
}


/* Contact page */

label {
    display: none;
}

.form {
    display: flex;
    margin: 0 auto;
    border-radius: 4px;
    align-items: center;
    flex-basis: 1em;
    flex-grow: 4;
    margin-left: 10px;
    

}

#name, #email, textarea, #submit {
    font-family: 'Montserrat', sans-serif;
}

.connect {
    margin-left: 20px;
    line-height: 1.5;
}



